# Git
.git
.gitignore

# Docker
.docker

# Python
dsc_dashboard/__pycache__/
dsc_dashboard/*/__pycache__/
dsc_dashboard/*/*/__pycache__/
dsc_dashboard/*/*/*/__pycache__/
dsc_dashboard/*/*/*/*/__pycache__/

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
app/*/*/*/*/__pycache__/
.env/
.venv/
venv/

# dev files
dev/

# macbook
.DS_Store